.primary {
  color: white;
  background-color: blue;
  border: none;
  padding: 6px 10px;
  border-radius: 10px;
}

.secondary {
  composes: primary;
  background-color: white;
  color: blue;
  border: 1px solid blue;
}
