.bgWrap {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.main {
  width: 100vw;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
