.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: url("../public/images/bc-ducks.jpeg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
}
